<!DOCTYPE html>
<html>
  <head>
    <title>
      joshimohitm9
    </title>
  </head>
    <body>
      <h1>
       Hello Everyone  
      </h1>
      <p>  I am <b>Mohit Joshi</b> 
        <br>
        A third-year student persuing B.Tech from Krishna Engineering College, with a strong interest in data science, Data Analysis and AI,also keen on learning machine learning, natural language processing (NLP), deep learning, and computer vision.
      </p>
      <h4> Visit my Linkdin 👇👇👇 </h4>
          <button type="button" class="btn btn-primary btn-lg">
    <a href="https://www.linkedin.com/in/joshimohitm9/"> joshimohitm9 </a>  
        </button>
    </body>
</html>